1. implement oauth session management example app
2. app should provide /login endpoint, which redirects to oauth /authorize server
3. /login receives redirect_url query param with address for final redirect. 
4. /login request is coming then new Session aggregate should be created and put into store. /login request should issue cookie with session id (uuid)
5. Session should generate nonce and pass it as state param.
6. Server domain name for /callback url should be specified in config (env var)
7. /callback endpoint should receive authorization code and nonce, extract session based on cookie ID, verify nonce and if it's ok, exchange code to accss token
8. then stores access, and refresh tokens in session
9. server should contain /api endpoint, when called session should be extracted from repository (redis) and token should be proxied to backend url (specified in env)
10. if token is close is half to expire (then session should be moved into refresh status and refresh request should be queued into worker (via buffered channel (size setup in config)))
11. when new tokens received, they should store in the session and expiration date is updated.
12. if token refresh timeout exceeded some time, session should be updated to new timeout and refresh token request should be repeated
13. Create integration tests with mock http server as IdP and proxied backend.
14. use this package to handle oauth https://pkg.go.dev/golang.org/x/oauth2